/*font familiy*/
/*selector universal*/

*{
    margin: 0;
    padding: 0;
}

/*limpiar los efectos nativos de las etiquetas*/

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}


header{
    background-color: red;

}
.navbar div{
    width: 800px;
    margin: 0 auto;
    text-align: center;
  

}

.navbar{
    position: fixed;
    top: 0;
    background-color: #f9f9f9;
    height: 80px;
}

.navbar a{
    font-size: 14px;
    line-height: 80px;
    font-weight: 500 ;
    padding: 10px 20px;
    margin: 0 10px;
    letter-spacing: 2px;

}

.contenedor-imagen{
    height: 100vh;
}

.contenedor-imagen img{
    width: 100%;
    height: 100%;
    

}


